.container{
    display: flex;
    flex-flow: row wrap;
    height: 300px;
    width: 300px;
    box-shadow : inset 0 10px 10px #414141, 0 0 10px 15px #414141;
    border: 5px dashed #414141;
    border-radius: 20px;
}
.Game,.GameSidebar{
    display: flex;
    align-items: center;
    justify-content: center;
}