.GameHeader{
    width: 100%;
    height: 10%;
    border: 3px dashed black;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content:space-around;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow : inset 0 0 20px 5px #414141, 0 0 20px 5px #414141;
    color: black;
    text-shadow: 3px 3px 5px #fff, -3px -3px 5px #fff;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.theme{
    position: relative;
    width: 40px;
    height: 20px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
#iconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 50%;
    height: 100%;
}
.theme img[src="day.png"] {
    filter: brightness(0) invert(1);
}

.night{
    right: 0;
    position: absolute;
}